.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10 fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: #6d5a5a;
}

.header img {
    width: 40px;
}

.nav {
    grid-area: n;
    background-color: #9e69ab;
}

.content {
    grid-area: c;
    background-color: #6baea6;
}